<ion-header>
  <ion-navbar class="header-color">
    <ion-title class="text-white">Panchaanga</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bisque">
  <div class="row app-header">
    <button ion-button small round icon-only (click)="prevMonth()" [disabled]="DisabledBack" col col-2>
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <div text-center col class="title">{{MonthNamesList[RequestedMonth-1]}} - {{RequestedYear}}</div>
    <button ion-button small round icon-only (click)="nextMonth()" [disabled]="DisabledForward" col col-2>
      <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </div>
  <ion-grid end>
    <ion-row>
    <ion-col row-center *ngFor="let day of DayNamesList">
      <div class="week-header">{{day}}</div>
    </ion-col>
    </ion-row>
    <ion-row row-center *ngFor="let strip of Grid">
    <ion-col *ngFor="let day of strip" 
              [ngClass]="{'current-date':isCurrentDate(day),'ekadashi':isEkadashi(day),'hunnime':isHunnami(day),'amavasya':isAmavasya(day)}">
      <div (click)='onSelectDate(day)' class="date-format-regular date-hover">
          {{displayDate(day)}}
        </div>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="index-grid">
  <ion-row>
    <ion-col col-3 *ngFor="let day of Indices" class="{{day}} font-12 border">
      {{getIndexName(day)}}
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
